.main{
  display: flex;
  flex-direction: row;
  background: transparent radial-gradient(closest-side at 50% 50%, #58687E 0%, #39495E 100%) 0% 0% no-repeat padding-box;
  width: 100vw;
  height: 100vh;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  background: transparent;
}